<!DOCTYPE html>

<html lang="pt" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Lesma Edições</title>
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/style.css")" />
    <script type="text/javascript" src="@Url.Content("~/scripts/jquery-2.1.0.min.js")"></script>

    <script>
        $(document).ready(function () {
            $("#nav-main a").bind("click", function (event) {
                event.preventDefault();
                var target = $(this).attr("href"); $("html, body").stop().animate({
                    scrollLeft: $(target).offset().left, scrollTop: $(target).offset().top
                }, 2000);
            });

            $("header figure a").bind("click", function (event) {
                event.preventDefault();
                var target = $(this).attr("href"); $("html, body").stop().animate({
                    scrollLeft: $(target).offset().left, scrollTop: $(target).offset().top
                }, 2000);
            });

            $('#contatar').on('click', function () {
                var email = $('#email').val();
                var nome = $('#nome').val();
                var mensagem = $('#mensagem').val();

                $.ajax({
                    url: "Home/EnviaEmail",
                    type: "POST",
                    data: "{\"email\":\"" + email + "\", \"nome\":\"" + nome + "\", \"mensagem\":\"" + mensagem + "\"}",
                    contentType: "application/json; charset=utf-8",
                    //data: { email: email, nome: nome, mensagem: mensagem },
                    dataType: "json",
                    success: function (data, textStatus, XMLHttpRequest) {
                        $('#box-form').append("<p>" + data.msg + "</p>");
                        setTimeout(function () {
                            $('#box-form > p').fadeOut();
                        }, 7000);

                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(XMLHttpRequest);
                    }
                });

            });

            $('#encomendar').on('click', function () {

                var encomenda = $('#encomenda').val();



                $.ajax({
                    url: "Home/EnviaEmailEcomenda",
                    type: "POST",
                    data: "{\"encomenda\":\"" + encomenda + "\"}",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data, textStatus, XMLHttpRequest) {
                        $('#box-livro-lesma-mesma').append("<p>" + data.msg + "</p>");
                        setTimeout(function () {
                            $('#box-livro-lesma-mesma > p').fadeOut();
                        }, 7000);

                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(XMLHttpRequest);
                    }
                });

            });

        });
    </script>

</head>
<body>

    <header>
        <figure>
            <a href="#lesma-mesma">
            <img src="@Url.Content("~/Content/images/image-logo.png")" title="Lesma Edições" /></a>
        </figure>
        <nav id="nav-social">
            <ul>
                <li>
                    <img src="@Url.Content("~/Content/images/image-btn-facebook.png")" title="Facebook" /></li>
                <li>
                    <a href="#">
                    <img src="@Url.Content("~/Content/images/image-bt-pt.png")" title="Português" /></a></li>
                <li>
                    <a href="#">
                    <img src="@Url.Content("~/Content/images/image-bt-en.png")"  title="Inglês" /></a></li>
            </ul>
        </nav>
        <nav id="nav-main">
            <ul>
                <li><a href="#lesma-mesma">Lesma Mesma</a></li>
                <li><a href="#sobre-lesma">Lesma Edições</a></li>
                <li><a href="#sobre-selma">Selma Maria</a></li>
                <li><a href="#sobre-nina">Nina Anderson</a></li>
                <li><a href="#contato">Contato</a></li>
            </ul>
        </nav>
    </header>
    <div id="wrapper">
        <section id="container">



            <section id="lesma-mesma" class="content">
                <div id="box-livro-lesma-mesma">
                    <h2>1ª Publicação</h2>
                    <figure>
                        <img src="@Url.Content("~/Content/images/image-livro.jpg")" title="Lesma Mesma" />
                    </figure>
                    <input type="email" name="encomenda" id="encomenda" placeholder="Seu E-mail"/>
                    <button id="encomendar">Encomendar</button>
                </div>
                <div id="bloco-txt-lesma-mesma">
                    <h2>Lesma Mesma</h2>
                    <p>Lesma Mesma vivia sua vidinha de lesma. Andava como uma lesma, comia como uma lesma, até o dia que ela ouve a seguinte pergunta: o que tem de tão fabuloso em sua vida?<br /><br />O livro é uma fábula poética para ler e reler devagar, a divagar, bem no estilo da Lesma Edições.</p>
                </div>
            </section>

            <section id="sobre-lesma" class="content">
                <div id="bloco-txt-sobre-lesma">
                    <h2>Lesma Edições</h2>
                    <p>O "lesma" da Lesma Edições é este: “Onde se publica devagar, a vagar”.<br /><br />Por enquanto temos em nosso catálogo apenas dois livros. Portanto não precisa catá-los logo.<br /><br />Olhe o logo e o site da Lesma, que ainda tem poucas notícias. Portanto não precisa olhar com toda rapidez do mundo. Vá com calma. Se não, de tão rápida a sua leitura, você vai achar que a gente não tem nada para oferecer ao mundo. Nunca é demais avisar: vá devagar, a vagar, pois uma boa leitura, às vezes, pode ser assim. Divagando com alguns pensamentos pelo livro e o mundo.<br /><br />Não, você não precisa ser devagar como a gente, nem queremos que todo mundo seja lento. <br /><br />Não estamos formando um clube onde todos têm que pensar igual ou no mesmo ritmo. Mas parar um pouco, ler um livro e apreciar o mundo sempre é um bom convite.<br /><br />E é esse o convite que fazemos. Veja nosso trabalho e, se quiser ler algo que publicamos, sinta-se à vontade para abrir nossos livros.<br /><br />Nossa mascote é assim: uma lesma que caminha à vontade pelo mundo e deixa suas marcas em cada nova viagem que faz.<br /><br />Estamos começando, descobrindo quem somos. A ideia de fazer a editora é nova. Portanto, ainda não temos um texto definitivo de apresentação do nosso trabalho.<br /><br />Simples fazer? Não, não é nada simples encontrar o simples, mas estamos tentando. Que seja um bom começo.<br /><br /><b>Equipe Lesma</b></p>
                </div>
            </section>

            <section id="sobre-selma" class="content">
                <figure>
                    <img src="@Url.Content("~/Content/images/image-bio-selma.jpg")" title="Selma Maria" />
                </figure>

                <div id="bloco-txt-selma">
                    <h2>Selma Maria</h2>
                    <p>Nascida em São Paulo (Brasil), em 1965. Ela é uma mistura de escritora, artista plástica e pesquisadora da infância. Brasileira, viaja pelo sertão, aldeias e cidades à procura de palavras e brinquedos encontrados nas gavetas da imaginação.</p>
                    <h2>Exposições</h2>
                    <p>Meninos Quietos - um olhar para os brinquedos do sertão; Mundo Livro; As palavras e o Mundo;<br />Trilhas do Brincar;<br />Infâncias;<br />Lá e Cá: os livros viajantes Portugal;<br />Brasil 12 X 12 Alemanha</p>
                    <h2>Livros</h2>
                    <p>Um pequeno tratado de brinquedos para meninos quietos;<br />Um pequeno tratado de brinquedos para meninos quietos da cidade;<br />Isso Isso;<br />O último livro de papel — Editora Peirópolis. Superímã e o mar; A menina que nunca terminava nada — Sesi-SP Editora Ora Bolas! — Editora Tordesilhinhas Abc da água — Guia dos Curiosos Comunicações
                    </p>
                </div>
            </section>

            <section id="sobre-nina" class="content">
                <figure>
                    <img src="@Url.Content("~/Content/images/image-bio-nina.jpg")" title="Nina Anderson" />
                </figure>
                <div id="bloco-txt-nina">
                    <h2>Nina Anderson</h2>
                    <p>Nina publica ilustrações em livros infantojuvenis desde os 18 anos.<br /><br />Agora, com 21, possui sete publicações</p>
                    <h2>Livros</h2>
                    <p>Um Pequeno Tratado de Brinquedos para Meninos Quietos da Cidade<br />Alice<br />Superímã e o Mar<br />A Menina que Nunca Terminava Nada<br />Ora Bolas!<br />ABC da Água<br />Nascida em São Paulo, Brasil, em 1992.<br />Estudante do Instituto de Artes da UNESP.<br /><br />Viajou pelo Brasil desde criança acompanhando sua mãe, Selma Maria, em suas pesquisas sobre a infância no Sertão Brasileiro e pela Europa desde os 17, com suas próprias pernas, observando a arte e cultura ao redor e desenhando sempre de um jeito diferente do que estava acostumada.<br /><br /><b><a href="#">www.cargocollective.com/ninaanderson</a></b></p>
                </div>
            </section>



            <section id="contato" class="content">

                <div id="bloco-txt-contato">
                    <h2>Entre em Contato</h2>
                    <p>Entre em contato conosco, para esclarecer dúvidas, nos dar sugestões ou críticas, solicitar nossos produtos.</p>
                </div>
                <div id="box-form">
                    <input type="text" name="nome" id="nome" placeholder="Nome"/>
                    <input type="email" name="email" id="email" placeholder="E-mail"/>
                    <textarea placeholder="Mensagem" name="mensagem" id="mensagem"></textarea>
                    <input type="button" id="contatar" value="Enviar" />
                </div>

            </section>





        </section>
    </div>
</body>




<!--<body>
    <ul id="banner">
        <li><a href="#home">Home</a> </li>
        <li><a href="#sobre-selma">Newsletter</a> </li>
        <li><a href="#sobre-nina">Directions &amp; Opening Hours</a> </li>
        <li><a href="#contato">Contato</a> </li>
    </ul>
    <div id="home" class="panel">home</div>
    <div id="sobre-selma" class="panel">sobre-selma</div>
    <div id="sobre-nina" class="panel">sobre-nina</div>
    <div id="contato" class="panel">
        <div id="box-contato">a</div>
    </div>
    
</body>-->
</html>



