<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Lesma Edições</title>
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/style.css")" />
    <script type="text/javascript" src="@Url.Content("~/scripts/jquery-2.1.0.min.js")"></script>

    <script>
        $(document).ready(function () {
            $("#nav-main a").bind("click", function (event) {
                event.preventDefault();
                var target = $(this).attr("href"); $("html, body").stop().animate({
                    scrollLeft: $(target).offset().left, scrollTop: $(target).offset().top
                }, 2000);
            });

            $("header figure a").bind("click", function (event) {
                event.preventDefault();
                var target = $(this).attr("href"); $("html, body").stop().animate({
                    scrollLeft: $(target).offset().left, scrollTop: $(target).offset().top
                }, 2000);
            });

            $('#contatar').on('click', function () {
                var email = $('#email').val();
                var nome = $('#nome').val();
                var mensagem = $('#mensagem').val();

                $.ajax({
                    url: "En/Home/EnviaEmail",
                    type: "POST",
                    data: "{\"email\":\"" + email + "\", \"nome\":\"" + nome + "\", \"mensagem\":\"" + mensagem + "\"}",
                    contentType: "application/json; charset=utf-8",
                    //data: { email: email, nome: nome, mensagem: mensagem },
                    dataType: "json",
                    success: function (data, textStatus, XMLHttpRequest) {
                        $('#box-form').append("<p>" + data.msg + "</p>");
                        setTimeout(function () {
                            $('#box-form > p').fadeOut();
                        }, 7000);

                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(XMLHttpRequest);
                    }
                });

            });

            $('#encomendar').on('click', function () {

                var encomenda = $('#encomenda').val();



                $.ajax({
                    url: "En/Home/EnviaEmailEcomenda",
                    type: "POST",
                    data: "{\"encomenda\":\"" + encomenda + "\"}",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data, textStatus, XMLHttpRequest) {
                        $('#box-livro-lesma-mesma').append("<p>" + data.msg + "</p>");
                        setTimeout(function () {
                            $('#box-livro-lesma-mesma > p').fadeOut();
                        }, 7000);

                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(XMLHttpRequest);
                    }
                });

            });


        });
    </script>

</head>
<body>

    <header>
        <figure>
            <a href="#lesma-mesma">
            <img src="@Url.Content("~/Content/images/image-logo.png")" title="Lesma Edições" /></a>
        </figure>
        <nav id="nav-social">
            <ul>
                <li>
                    <a href="https://www.facebook.com/selmamariak?fref=ts" target="_blank">
                    <img src="@Url.Content("~/Content/images/image-btn-facebook.png")" title="Facebook" /></a></li>
                <li>
                    <a href="Home">
                    <img src="@Url.Content("~/Content/images/image-bt-pt.png")" title="Portuguese" /></a></li>
                <li>
                    <a href="/En">
                    <img src="@Url.Content("~/Content/images/image-bt-en.png")"  title="English" /></a></li>
            </ul>
        </nav>
        <nav id="nav-main">
            <ul>
                <li><a href="#lesma-mesma">Lesma Mesma</a></li>
                <li><a href="#sobre-lesma">Lesma Edições</a></li>
                <li><a href="#sobre-selma">Selma Maria</a></li>
                <li><a href="#sobre-nina">Nina Anderson</a></li>
                <li><a href="#contato">Contact</a></li>
            </ul>
        </nav>
    </header>
    <div id="wrapper">
        <section id="container">



            <section id="lesma-mesma" class="content">
                <div id="box-livro-lesma-mesma">
                    <h2>First publish</h2>
                    <figure>
                        <img src="@Url.Content("~/Content/images/image-livro.jpg")" title="Lesma Mesma" />
                    </figure>
                    <input type="email" name="encomenda" id="encomenda" placeholder="Your E-mail"/>
                    <button id="encomendar">Order</button>
                </div>
                <div id="bloco-txt-lesma-mesma">
                    <h2>Lesma Mesma</h2>
                    <p>Same snail was quietly living her snail life,moving like a snail, eating like a snail, until one day somebody asked her: what is so fabulous about your life?</p><p><br />This book is a poetic fable to be read again and again, slowly and leisurely, just very much in the style of Lesma Editions.</p>
                </div>
            </section>

            <section id="sobre-lesma" class="content">
                <div id="bloco-txt-sobre-lesma">
                    <h2>Lesma Edições</h2>
                    <p>In Portuguese, "lesma" means "snail" and "lema" translates as "slogan". Therefore, the “slowgan” of Lesma Edições is: We publish slowly, slowly roaming.<br /><br />To date, there are only two books listed in our catalogue. That is why there's no need for you to enlist with us, log in or categorize them.<br /><br />Take your time to look at the logo and the website of Lesma Edições, which still features few news entries. There is no hurry, therefore, to scan it as quickly as you can. Slow down. If you don't, if you're too fast, you might come to think that we don't have anything to offer. We can only remind you again and again: take your time, go slowly. A good read can sometimes be like that. Wondering about a few thoughts, wandering about the book, your mind, the world. <br /><br /><br />No, you don't have to be slow with us, we don't want everybody to be slow. We're not starting a club in which all members have to think equally and walk at the same pace. But it is always an invitation worth considering to stop for a while, read a book and enjoy the world around you. <br /><br />And this is what we would like to invite you to do. Take a look at our work and, if you become interested in reading some of our publications, feel free to open our books. Our mascot is like that, too: a snail which roams freely and slowly about the world, leaving its marks everywhere it passes on its journey. <br /><br />We are only starting out, discovering who we are. The idea of becoming an editor is a new one. Therefore, we still don't have a definite way of presenting our work. <br /><br />Easy to do? No, it is never easy to find the simple things, but we keep trying. May it be a good start.<br /><br /><b>The team of Lesma Edições</b></p>
                </div>
            </section>

            <section id="sobre-selma" class="content">
                <figure>
                    <img src="@Url.Content("~/Content/images/image-bio-selma.jpg")" title="Selma Maria" />
                </figure>

                <div id="bloco-txt-selma">
                    <h2>Selma Maria</h2>
                    <p>Born in São Paulo (Brazil) in 1965, she is a multi-artist, working as an writer, visual artist and researching childhood. She travels through the interior of her native country, Brazil, visiting villages and towns in search of words and toys that may be found in the drawers of imagination.</p>
                    <h2>She featured in the following exhibitions:</h2>
                    <p>Meninos Quietos (Quiet children) - a look on the toys of the Brazilian interior;<br />Mundo Livro (Book world), As palavras e o mundo (Words and the world);<br />Trilhas do Brincar (The tracks of playing);<br />Infâncias (Childhoods);<br />Lá e Cá: os livros viajantes (Here and there: travelling books);<br />Brasil 12 x 12 Alemanha (Brazil 12 x 12 Germany)</p>
                    <h2>Books</h2>
                    @*<p>Um pequeno tratado de brinquedos para meninos quietos (A small treaty of toys for quiet children);<br />Um pequeno tratado de brinquedos para meninos quietos da cidade (A small treaty of toys for quiet children of the city);<br />Isso Isso (This this);<br />O último livro de papel (The last paper book) — Peirópolis publishers<br />Superímã e o mar (Super magnet and the sea); A menina que nunca terminava nada (The girl who never finished anything) — published by Sesi-SP publishers Ora Bolas! — Tordesilhinhas publishers ABC da água (Water ABC) — Guia dos Curiosos Communications
                    </p>*@
                    <p>A small treaty of toys for quiet children;<br />A small treaty of toys for quiet children of the city;<br />This this<br />Super magnet and the sea<br />Ora Bolas! — Editora Tordesilhinhas<br />Water ABC — Panda Books</p>
                </div>
            </section>

            <section id="sobre-nina" class="content">
                <figure>
                    <img src="@Url.Content("~/Content/images/image-bio-nina.jpg")" title="Nina Anderson" />
                </figure>
                <div id="bloco-txt-nina">
                    <h2>Nina Anderson</h2>
                    <p>Nina publishes illustrations of books since she was 18.<br /><br />By now, at the age of 21, she has seven publications. They are:</p>
                    <h2>Livros</h2>
                    <p>A Treaty on Toys for Quiet Children from the City<br />Alice<br />Supermagnet and the Sea<br />The Girl that Never Finished Anything<br />Uh-0h!<br />Eight Eating Cookies, Ten eating pastry<br />ABC of Water<br />Was born in São Paulo, Brazil, in 1992 and studied in the Art Institute of São Paulo State’s University.<br /><br />She has traveled Brazil since she was a child and throughout Europe since she was 17 observing all the art and culture around and drawing always in a different way.<br /><br /><b><a href="https://www.facebook.com/imperiodelgato" target="_blank">fb.com/imperiodelgato</a></b><br /><br /><b><a href="http://cargocollective.com/ninaanderson" target="_blank">www.cargocollective.com/ninaanderson</a></b></p>
                </div>
            </section>



            <section id="contato" class="content">

                <div id="bloco-txt-contato">
                    <h2>Contact us</h2>
                    <p>Please contact us to answer questions, give us suggestions or criticisms, order our products.</p>
                </div>
                <div id="box-form">
                    <input type="text" name="nome" id="nome" placeholder="Name"/>
                    <input type="email" name="email" id="email" placeholder="E-mail"/>
                    <textarea placeholder="Message" name="mensagem" id="mensagem"></textarea>
                    <input type="button" id="contatar" value="Send" />
                </div>

            </section>





        </section>
    </div>
</body>




<!--<body>
    <ul id="banner">
        <li><a href="#home">Home</a> </li>
        <li><a href="#sobre-selma">Newsletter</a> </li>
        <li><a href="#sobre-nina">Directions &amp; Opening Hours</a> </li>
        <li><a href="#contato">Contato</a> </li>
    </ul>
    <div id="home" class="panel">home</div>
    <div id="sobre-selma" class="panel">sobre-selma</div>
    <div id="sobre-nina" class="panel">sobre-nina</div>
    <div id="contato" class="panel">
        <div id="box-contato">a</div>
    </div>
    
</body>-->
</html>



